/.idea
env
ingestion/__pycache__/
ingestion/src/__pycache__/
ingestion/src/config/__pycache__/
ingestion/src/consumer/__pycache__/
ingestion/src/ingest/__pycache__/
ingestion/src/processor/__pycache__/
ingestion/src/uploader/__pycache__/
ingestion/src/writer/__pycache__/
ingestion/tests/__pycache__/
events/src/__pycache__/
